<h1>Welcome to my Project</h1>
<p>In this project I'm practicing the basics of Stimulus</p>

<h2>Example# 1</h2>
<div data-controller="hello">
  <input data-hello-target="name" type="text" placeholder='type any name'>

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>

<h2>Example# 2</h2>
<div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">
  PIN: <input data-clipboard-target="source" type="text" value="1234" readonly>
  <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>  
</div>

<p>Let's apply CRUD operations via Stimulus</p>
<br>
<p style="color: green"><%= notice %></p>

<h1>Publishers</h1>

<div id="publishers">
  <% @publishers.each do |publisher| %>
    <%= render publisher %>
    <p>
      <%= link_to "Show this publisher", publisher %>
    </p>
  <% end %>
</div>

<%= link_to "New publisher", new_publisher_path %>

